<div class="container">
 <div class="card" style="margin-top:30px;margin-right:300px;margin-bottom:0px;margin-left:300px;border:2px double; ">
<h2 class="text-center mt-3">Edit</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


<div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",class:"form-control",placeholder: 'First Name' %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name",class:"form-control",placeholder: 'Last Name' %>
  </div>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, autocomplete: "username",class:"form-control",placeholder: 'Username' %>
  </div>


  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Update",class:"btn btn-lg btn-outline-secondary btn-block" %>
  </div>
<br>
<br>

<h3>Cancel my account</h3>


<% end %>
<p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-lg  btn-outline-secondary btn-block" %></p>
<%= link_to "Back", :back,class:"btn btn-lg  btn-outline-secondary btn-block" %>
</div>
</div>