  
  <div class="container">
  <%=render partial: '/partials/filter', locals: {articles: @articles}%>

<% if !params[:source].blank? || !params[:query].blank? %>
<%@articles.each do |article|%>
 <%= render partial: '/partials/article', locals: {article: article, descritpion_length: 90,pathing:article_comments_path(article)}%>
  <% end %>
<% else %>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic"><%=@articles.first.title  %></h1>
      <p class="lead my-3"><%=@articles.first.description.first(500)%></p>
      <p class="lead mb-0"><%=link_to "Continue reading...", @articles.first.url, class:"text-white font-weight-bold"%></p>
    </div>
  </div>
  
<div class="row mb-2">
  <%@articles[1,12].each do |article|%>
    <%= render partial: '/partials/index_articles', locals:{article:article}%>
  <% end %>
  <%@articles[13,24].each do |r2_article|%>
    <%= render partial: '/partials/index_articles', locals:{article:r2_article}%>
  <% end %>
</div>

<% end %>
<%= paginate @articles,class:"container" %>
    
    </div>
      


