
<%=form_for comment do |f|%>
 <% if comment.errors.any? %>
   <div id="error_explanation">
    <h4>Error:</h4>
     <ul>
       <% comment.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </div>
  <% end %>
<div class="form-floating container">
  <div class="field<%= ' field_with_errors' if comment.errors[:content].any? %>">
  <%=f.hidden_field :article_id, :value=> article.id%>
  <%=f.label :content, 'Comment:'%><br>
  <%=f.text_area :content, class:"form-control addtxt container", placeholder:"Leave a comment here",  style:"height: 100px; width: 2000px;" %><br>
    <%=f.submit submit_text ,class:"btn btn-lg btn-outline-secondary" %>
<%end%>
  </div>
</div>

