
<div class="form-floating container">
  <%=form_for [article,comment] do |f|%>

 <%=render partial: '/partials/errors', locals:{instance:comment}%>

    
  <div class="field<%= ' field_with_errors' if comment.errors[:content].any? %>">
    <%=f.label :content, 'Comment:'%><br>
    <%=f.text_area :content, class:"form-control addtxt container", placeholder:"Leave a comment here",  style:"height: 100px; width: 2000px;" %><br>
    <%=f.submit submit_text ,class:"btn btn-lg btn-outline-secondary" %>
  </div>
  <%end%>
  
</div>

